<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Tạo Combo</title>
    <style th:replace="~{/admin/common/head_tag}"></style>
    <style>
        /* CSS to style selected options */
        .selected-option {
            background-color: lightgreen;
            color: green;
            font-weight: bold;
        }

        /* Add a checkmark icon */
        .selected-option::after {
            content: '✔';
            margin-left: 8px;
        }

    </style>
</head>
<body>
<div th:replace="~{/admin/common/content_first}"></div>
<div class="container">
    <h3 style="text-align: center">TẠO COMBO MỚI</h3>
    <hr/>
    <form th:action="@{/admin/combo/createConfirm}"
          method="post"
          id="comboForm"
          th:object="${combo}"
          enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="file" class="form-label">Hình ảnh</label>
                    <input type="file" class="form-control" id="file" name="file">
                </div>
                <div class="form-group">
                    <label for="comboName" class="form-label">Tên Combo</label>
                    <input type="text" class="form-control" id="comboName" name="comboName" th:field="${combo.comboName}">
                </div>
                <div class="form-group">
                    <label for="startDate" class="form-label">Ngày bắt đầu</label>
                    <input type="date" class="form-control" id="startDate" name="startDate" th:field="${combo.startDate}">
                </div>
                <div class="form-group">
                    <label for="endDate" class="form-label">Ngày kết thúc</label>
                    <input type="date" class="form-control" id="endDate" name="endDate" th:field="${combo.endDate}">
                </div>
                <div class="form-group">
                    <label for="description" class="form-label">Mô tả</label>
                    <textarea type="text" class="form-control" id="description" name="description" th:field="${combo.description}"></textarea>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <div class="form-group ">
                        <label for="searchProduct" class="form-label">Tìm kiếm sản phẩm</label>
                        <input type="text" id="searchProduct" class="form-control col-md-4" placeholder="Nhập tên sản phẩm">
                    </div>
                    <div style="height: 400px; overflow-y: auto">
                        <table class="table table-light table-striped table-bordered">
                            <thead class="table-dark">
                                <tr>
                                    <th class="text-center">Hình ảnh</th>
                                    <th class="text-center">Sản phẩm</th>
                                    <th class="text-center">Giá</th>
                                    <th class="text-center">Hành động</th>
                                </tr>
                            </thead>
                            <tbody id="productTable">
                                <tr th:each="item :${products}">
                                    <td class="text-center"><img th:src="@{${s3BucketUrl} + ${item.image}}" alt="" style="height: 100px"></td>
                                    <td th:text="${item.productName}" class="text-center"></td>
                                    <td th:text="${#numbers.formatDecimal(item.price, 1, 'COMMA', 0, 'POINT')}" class="text-center"></td>
                                    <td>
                                        <button type="button" class="btn btn-outline-success add-product-btn text-center"
                                                th:data-id="${item.productId}"
                                                th:data-name="${item.productName}"
                                                th:data-price="${item.price}">
                                            Thêm
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <table class="table table-light table-striped table-bordered">
                <thead class="table-dark">
                <tr>
                    <th class="text-center">Tên</th>
                    <th class="text-center">Giá</th>
                    <th class="text-center">Số lượng</th>
                    <th class="text-center">Thành tiền</th>
                    <th class="text-center">Hành động</th>
                </tr>
                </thead>
<!--                <tbody id="productTableBody">-->
                <tbody id="selectedProductTableBody">
                <!-- Rows will be added here by JavaScript -->
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4" style="text-align: right; font-weight: bold;">Tổng giá trị:</td>
                        <td id="totalAmountCell">0</td>
                    </tr>
                    <tr>
                        <td colspan="4" style="text-align: right; font-weight: bold;">Giá cuối cùng:</td>
                        <td><input type="number" name="finalAmount" class="form-control" id="finalAmount" style="width: 100px"></td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <input type="hidden" id="productsJson" name="productsJson" th:field="${combo.productsJson}">
<!--        <div class="form-group col-md-4">-->
<!--            <label for="finalAmount" class="form-label" th:field="${combo.finalAmount}">Amount</label>-->
<!--            <input type="number" name="finalAmount" class="form-control" id="finalAmount">-->
<!--        </div>-->
        <input type="submit" value="Tạo" class="btn btn-success">
    </form>
</div>
<div th:replace="~{/admin/common/content_footer}"></div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Đặt min cho startDate là ngày hiện tại và cập nhật min cho endDate khi startDate thay đổi
        const startDateInput = document.getElementById('startDate');
        const endDateInput = document.getElementById('endDate');

        if (startDateInput) {
            const today = new Date().toISOString().split('T')[0];
            startDateInput.setAttribute('min', today);
        }

        if (startDateInput && endDateInput) {
            startDateInput.addEventListener('change', function () {
                const startDate = new Date(this.value);
                if (!isNaN(startDate)) {
                    const minEndDate = new Date(startDate);
                    minEndDate.setDate(minEndDate.getDate() + 1); // Thêm 1 ngày
                    const minEndDateStr = minEndDate.toISOString().split('T')[0];
                    endDateInput.setAttribute('min', minEndDateStr);

                    // Nếu endDate hiện tại không hợp lệ, đặt lại giá trị
                    const currentEndDate = new Date(endDateInput.value);
                    if (currentEndDate < minEndDate) {
                        endDateInput.value = minEndDateStr;
                    }
                } else {
                    // Nếu không chọn startDate, đặt min endDate về ngày hôm nay +1
                    const minEndDate = new Date();
                    minEndDate.setDate(minEndDate.getDate() + 1);
                    const minEndDateStr = minEndDate.toISOString().split('T')[0];
                    endDateInput.setAttribute('min', minEndDateStr);
                }
            });
        }

        // Function to add selected product to the table
        window.addProductToTable = function (productId, productName, productPrice) {
            const tableBody = document.getElementById('selectedProductTableBody');
            const newRow = document.createElement('tr');
            newRow.innerHTML = `
                <td class="text-center">${productName}</td>
                <td class="text-center">${productPrice}</td>
                <td class="text-center">
                    <input type="number" name="quantity" class="quantity-input" data-id="${productId}" value="1" style="width: 50px">
                </td>
                <td class="amount-cell text-center">${productPrice}</td>
                <td class="text-center"> <button class="btn btn-danger btn-remove">Gỡ</button></td>
            `;
            tableBody.appendChild(newRow);
            updateTotalAmount();
            updateLocalStorage();

            addQuantityChangeListener(newRow.querySelector('.quantity-input'));
            // Adding event listener to quantity input
            const quantityInput = newRow.querySelector('.quantity-input');
            addQuantityChangeListener(quantityInput);
            quantityInput.addEventListener('input', function() {
                if (this.value < 1) {
                    this.value = 1;
                }
                updateTotalAmount();
                updateLocalStorage();
            });
            newRow.querySelector('.btn-remove').addEventListener('click', removeProduct);
        }

        function updateTotalAmount() {
            const tableRows = document.querySelectorAll('#selectedProductTableBody tr');
            let totalAmount = 0;
            tableRows.forEach(row => {
                const productPrice = parseFloat(row.querySelector('td:nth-child(2)').textContent.replace(/,/g, '')); // Remove commas
                const quantity = parseInt(row.querySelector('.quantity-input').value, 10);
                const amountCell = row.querySelector('.amount-cell');
                const amount = productPrice * quantity;
                amountCell.textContent = amount.toLocaleString('en-US'); // Format with commas
                totalAmount += amount;
            });
            document.getElementById('totalAmountCell').textContent = totalAmount.toLocaleString('en-US'); // Format with commas
            document.getElementById('finalAmount').value = totalAmount;
        }

        function updateLocalStorage() {
            const tableRows = document.querySelectorAll('#selectedProductTableBody tr');
            const addedProducts = [];
            tableRows.forEach(row => {
                const productId = row.querySelector('.quantity-input').getAttribute('data-id');
                const productName = row.querySelector('td:nth-child(1)').textContent;
                const productPrice = row.querySelector('td:nth-child(2)').textContent.replace(/,/g, ''); // Remove commas
                const quantity = row.querySelector('.quantity-input').value;

                addedProducts.push({
                    productId,
                    productName,
                    uniquePrice: parseFloat(productPrice),
                    quantity: parseInt(quantity, 10),
                });
            });

            localStorage.setItem('addedProducts', JSON.stringify(addedProducts));
        }

        function addQuantityChangeListener(inputElement) {
            inputElement.addEventListener('change', () => {
                updateLocalStorage();
                updateTotalAmount();
            });
        }

        function removeProduct(event) {
            const row = event.target.closest('tr');
            const productId = row.querySelector('.quantity-input').getAttribute('data-id');
            row.remove();
            updateLocalStorage();
            updateTotalAmount();

            // Tìm và kích hoạt lại nút "Add" tương ứng với sản phẩm đã bị xóa
            const addButton = document.querySelector(`.add-product-btn[data-id='${productId}']`);
            if (addButton) {
                addButton.disabled = false;
                addButton.classList.remove('selected-option');
            }
        }

        function initializeTable() {
            const addedProducts = JSON.parse(localStorage.getItem('addedProducts')) || [];
            const tableBody = document.getElementById('selectedProductTableBody');
            addedProducts.forEach(product => {
                const newRow = document.createElement('tr');
                newRow.innerHTML = `
                    <td class="text-center">${product.productName}</td>
                    <td class="text-center">${product.uniquePrice.toLocaleString('en-US')}</td>
                    <td class="text-center"><input type="number" name="quantity" class="quantity-input" data-id="${product.productId}" value="${product.quantity}" style="width: 50px"></td>
                    <td class="amount-cell text-center">${(product.uniquePrice * product.quantity).toLocaleString('en-US')}</td>
                    <td class="text-center"> <button class="btn btn-danger btn-remove">Gỡ</button></td>
                `;
                tableBody.appendChild(newRow);
                addQuantityChangeListener(newRow.querySelector('.quantity-input'));
                newRow.querySelector('.btn-remove').addEventListener('click', removeProduct);
            });
            updateTotalAmount();
        }

        initializeTable();

        document.getElementById('comboForm').addEventListener('submit', function (event) {
            event.preventDefault();
            const addedProducts = JSON.parse(localStorage.getItem('addedProducts')) || [];
            if (addedProducts.length === 0) {
                alert('Please add at least one product to the combo.');
                return;
            }
            const productsJsonInput = document.getElementById('productsJson');
            productsJsonInput.value = JSON.stringify(addedProducts);
            localStorage.removeItem('addedProducts');
            this.submit();
        });

        window.addEventListener('beforeunload', function () {
            localStorage.removeItem('addedProducts');
        });

        const addProductButtons = document.querySelectorAll('.add-product-btn');
        addProductButtons.forEach(button => {
            button.addEventListener('click', function () {
                const productId = this.getAttribute('data-id');
                const productName = this.getAttribute('data-name');
                const productPrice = this.getAttribute('data-price').replace(/,/g, ''); // Remove commas
                addProductToTable(productId, productName, parseFloat(productPrice));
                this.disabled = true;
                this.classList.add('selected-option');
            });
        });

        // Function to filter products based on search input
        const searchProductInput = document.getElementById('searchProduct');
        searchProductInput.addEventListener('input', function () {
            const searchValue = this.value.toLowerCase();
            const productRows = document.querySelectorAll('#productTable tr');

            productRows.forEach(row => {
                const productName = row.querySelector('td:nth-child(2)').textContent.toLowerCase();
                if (productName.includes(searchValue)) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });
        });
    });
</script>
</body>
</html>
