<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Combo Detail</title>
    <style th:replace="/admin/common/head_tag"></style>
</head>
<body>
    <div th:replace="/admin/common/content_first"></div>
    <div class="container">
        <h3 th:text="${combo.comboName}">'s Details </h3>
        <table class="table table-light mt-2">
            <thead class="table-dark">
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item: ${comboDetails}">
                <td th:text="${item.product.productName}"></td>
                <td th:text="${item.product.price}"></td>
                <td th:text="${item.quantity}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="/admin/common/content_footer"></div>
</body>
</html>