<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Chi tiết combo</title>
    <style th:replace="~{/admin/common/head_tag}"></style>
</head>
<body>
    <div th:replace="~{/admin/common/content_first}"></div>
    <div class="container">
        <h3 th:text="'Chi Tiết Combo: '+ ${combo.comboName}" class="text-center"></h3>
        <img style="object-fit: cover;width: 320px; height: 240px" th:src="@{${s3BucketUrl} + ${combo.image}}" alt="">
        <table class="table table-light mt-2">
            <thead class="table-dark">
                <tr>
                    <th class="text-center">Sản phầm</th>
                    <th class="text-center">Giá</th>
                    <th class="text-center">Số lượng</th>
                    <th class="text-center">Thành tiền</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item: ${comboDetails}">
                    <td th:text="${item.product.productName}" class="text-center"></td>
                    <td th:text="${item.product.price}" class="text-center"></td>
                    <td th:text="${item.quantity}" class="text-center"></td>
                    <td th:text="${item.product.price*item.quantity}" class="text-center"></td>

                </tr>
                <tr>
                    <td colspan="3">Giá gốc</td>
                    <td th:text="${combo.totalAmount}" class="text-center"></td>
                </tr>
                <tr>
                    <td colspan="3">Giá bán</td>
                    <td th:text="${combo.finalAmount}" class="text-center"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="~{/admin/common/content_footer}"></div>
</body>
</html>