<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Quản lý Combo</title>
    <style th:replace="~{/admin/common/head_tag}"></style>
</head>
<body>
    <div th:replace="~{/admin/common/content_first}"></div>
    <div class="container">
        <h3 class="text-center">QUẢN LÝ COMBO</h3> <hr/>
        <a th:href="@{/admin/combo/create}" class="btn btn-outline-primary mt-2 mb-2">Tạo Combo</a>
        <table class="table table-light table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th class="text-center">Tên Combo</th>
                    <th class="text-center">Ngày bắt đầu</th>
                    <th class="text-center">Ngày kết thúc</th>
                    <th class="text-center">Trạng thái</th>
                    <th class="text-center">Giá gốc</th>
                    <th class="text-center">Giá bán</th>
                    <th class="text-center">Hành động</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item: ${combos}">
                    <td class="text-center" th:text="${item.comboName}"></td>
                    <td class="text-center" th:text="${#temporals.format(item.startDate, 'dd/MM/yyyy')}"></td>
                    <td class="text-center" th:text="${#temporals.format(item.endDate, 'dd/MM/yyyy')}"></td>
                    <td class="text-center" th:text="${item.status}==2?'Đang hoạt động':'Không hoạt động'"></td>
                    <td class="text-center" th:text="${#numbers.formatDecimal(item.totalAmount, 1, 'COMMA', 0, 'POINT')}"></td>
                    <td class="text-center" th:text="${#numbers.formatDecimal(item.finalAmount, 1, 'COMMA', 0, 'POINT')}"></td>
                    <td class="text-center d-flex justify-content-center align-items-center">
                        <a th:href="@{/admin/combo/detail(comboId=${item.comboId})}" class="btn btn-info mr-2">Chi tiết</a>
                        <form th:action="@{/admin/combo/delete(comboId=${item.comboId})}"
                              method="post"
                              onsubmit="return confirm('Are you sure you want to delete this item?')">
<!--                            <input type="submit" value="Remove" class="btn btn-danger">-->
                             <button class="btn btn-danger">Gỡ</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <a th:href="@{/admin/combo/expired}" class="btn btn-warning mt-2 mb-2">Thùng Rác</a>
    </div>
    <div th:replace="~{/admin/common/content_footer}"></div>
</body>
</html>