<!DOCTYPE html>
<html lang="vn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Danh sách sản phẩm</title>
    <style th:replace="~{/user/common/head_tag}"></style>
    <style>
        #search-icon-2:hover {
            background-color: #ffb524;
        }

        .form-control::placeholder {
            opacity: 50%;
        }
    </style>
</head>
<body>
<div th:replace="~{/user/common/content_first}"></div>
<div class="container" style="margin-top: 200px">
    <!-- Modal Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center">
                    <div class="input-group w-75 mx-auto d-flex">
                        <input type="search" class="form-control p-3" placeholder="Tìm theo tên"
                               aria-describedby="search-icon-1">
                        <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Search End -->


    <!-- Single Page Header start -->
    <div class="container-fluid page-header py-5">
        <h1 class="text-center text-white display-6">Sản phẩm</h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a href="/home-page">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="/product/index">Sản phẩm</a></li>
            <!--            <li class="breadcrumb-item active text-white">Trang chủ</li>-->
        </ol>
    </div>
    <!-- Single Page Header End -->


    <!-- Fruits Shop Start-->
    <div class="container-fluid fruite py-5">
        <div class="container py-5">
            <h1 class="mb-4">Fresh fruits shop</h1>
            <div class="row g-4">
                <div class="col-lg-12">
                    <div class="row g-4">
                        <div class="col-xl-3">
                            <form id="searchSortForm" method="get" action="/product/index"
                                  class="input-group w-100 mx-auto d-flex">
                                <input type="hidden" name="page" th:value="${pageNumber}">
                                <input type="hidden" name="size" th:value="${itemsPerpage}"/>
                                <input type="hidden" name="categoryId" th:value="${categoryId}"/>
                                <input type="search" class="form-control p-3" placeholder="Tìm theo tên sản phẩm"
                                       aria-describedby="search-icon-1" name="search" th:value="${search}">
                                <button type="submit" id="search-icon-2" class="input-group-text p-3"
                                        style=":hover{ background-color:#ffb524 }"><i
                                        class="fa fa-search"></i></button>
                            </form>
                        </div>
                        <div class="col-6">
                            <span class="alert alert-success" th:if="${message}" th:text="${message}">Thông báo thành công</span>
                            <span class="alert alert-danger" th:if="${error}" th:text="${error}">Thông báo lỗi</span>
                        </div>
                        <div class="col-xl-3">
                            <div class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4">
                                <label for="fruits">Default Sorting:</label>
                                <select id="fruits" name="sort" class="border-0 form-select-sm bg-light me-3"
                                        form="searchSortForm" onchange="this.form.submit()">
                                    <option th:value="asc" th:text="'Name Asc'"
                                            th:selected="${sort.equals('asc')}"></option>
                                    <option th:value="desc" th:text="'Name Desc'"
                                            th:selected="${sort.equals('desc')}"></option>
                                    <!--                                    <option value="volvo">Nothing</option>-->
                                    <!--                                    <option value="saab">Popularity</option>-->
                                    <!--                                    <option value="opel">Organic</option>-->
                                    <!--                                    <option value="audi">Fantastic</option>-->
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row g-4">
                        <div class="col-lg-3">
                            <div class="row g-4">
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <h4>Categories</h4>
                                        <ul class="list-unstyled fruite-categorie">
                                            <li th:each="item: ${categories}">
                                                <div class="d-flex justify-content-between fruite-name">
                                                    <a th:if="${item.categoryId != categoryId}"
                                                       th:href="@{/product/index(categoryId = ${item.categoryId}, search = ${search}, sort = ${sort}, size = ${products.size})}"
                                                       th:text="${item.categoryName}">
                                                        <i class="fas fa-apple-alt me-2"></i>Apples</a>
                                                    <span th:if="${item.categoryId == categoryId}"
                                                          th:classappend="'text-muted'"
                                                          th:text="${item.categoryName}"
                                                          style="color: #ffb524 !important;">
                                                        <i class="fas fa-apple-alt me-2"></i>Apples</span>
                                                    <span th:text="'('+${categoryProductCounts[item.categoryId]}+')'">(3)</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <h4 class="mb-2">Price</h4>
                                        <input type="range" class="form-range w-100" id="rangeInput" name="rangeInput"
                                               min="0" max="500" value="0" oninput="amount.value=rangeInput.value">
                                        <output id="amount" name="amount" min-value="0" max-value="500"
                                                for="rangeInput">0
                                        </output>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <h4>Additional</h4>
                                        <div class="mb-2">
                                            <input type="radio" class="me-2" id="Categories-1" name="Categories-1"
                                                   value="Beverages">
                                            <label for="Categories-1"> Organic</label>
                                        </div>
                                        <div class="mb-2">
                                            <input type="radio" class="me-2" id="Categories-2" name="Categories-1"
                                                   value="Beverages">
                                            <label for="Categories-2"> Fresh</label>
                                        </div>
                                        <div class="mb-2">
                                            <input type="radio" class="me-2" id="Categories-3" name="Categories-1"
                                                   value="Beverages">
                                            <label for="Categories-3"> Sales</label>
                                        </div>
                                        <div class="mb-2">
                                            <input type="radio" class="me-2" id="Categories-4" name="Categories-1"
                                                   value="Beverages">
                                            <label for="Categories-4"> Discount</label>
                                        </div>
                                        <div class="mb-2">
                                            <input type="radio" class="me-2" id="Categories-5" name="Categories-1"
                                                   value="Beverages">
                                            <label for="Categories-5"> Expired</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <h4 class="mb-3">Featured products</h4>
                                    <div class="d-flex align-items-center justify-content-start">
                                        <div class="rounded me-4" style="width: 100px; height: 100px">
                                            <img src="img/featur-1.jpg" class="img-fluid rounded" alt="">
                                        </div>
                                        <div>
                                            <h6 class="mb-2">Big Banana</h6>
                                            <div class="d-flex mb-2">
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="d-flex mb-2">
                                                <h5 class="fw-bold me-2">2.99 $</h5>
                                                <h5 class="text-danger text-decoration-line-through">4.11 $</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-start">
                                        <div class="rounded me-4" style="width: 100px; height: 100px;">
                                            <img src="img/featur-2.jpg" class="img-fluid rounded" alt="">
                                        </div>
                                        <div>
                                            <h6 class="mb-2">Big Banana</h6>
                                            <div class="d-flex mb-2">
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="d-flex mb-2">
                                                <h5 class="fw-bold me-2">2.99 $</h5>
                                                <h5 class="text-danger text-decoration-line-through">4.11 $</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-start">
                                        <div class="rounded me-4" style="width: 100px; height: 100px;">
                                            <img src="img/featur-3.jpg" class="img-fluid rounded" alt="">
                                        </div>
                                        <div>
                                            <h6 class="mb-2">Big Banana</h6>
                                            <div class="d-flex mb-2">
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="d-flex mb-2">
                                                <h5 class="fw-bold me-2">2.99 $</h5>
                                                <h5 class="text-danger text-decoration-line-through">4.11 $</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center my-4">
                                        <a href="#"
                                           class="btn border border-secondary px-4 py-3 rounded-pill text-primary w-100">Vew
                                            More</a>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="position-relative">
                                        <img src="img/banner-fruits.jpg" class="img-fluid w-100 rounded" alt="">
                                        <div class="position-absolute"
                                             style="top: 50%; right: 10px; transform: translateY(-50%);">
                                            <h3 class="text-secondary fw-bold">Fresh <br> Fruits <br> Banner</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="row g-4 justify-content-center">
                                <div class="col-md-6 col-lg-6 col-xl-4" th:each="item : ${products}">
                                    <div class="rounded position-relative fruite-item">
                                        <div class="fruite-img">
                                            <a th:href="@{/product/detail/{id}(id=${item.productId})}">
                                                <img th:src="@{${s3BucketUrl} + ${item.image}}"
                                                     class="img-fluid rounded-top" th:alt="${item.image}"
                                                     style="width: 294px;height: 171px; object-fit: cover">
                                            </a>
                                        </div>
                                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                                             style="top: 10px; left: 10px;">Fruits
                                        </div>
                                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                            <a th:href="@{/product/detail/{id}(id=${item.productId})}">
                                                <h4 th:text="${item.productName}"
                                                    style="display: -webkit-box;
                                                          -webkit-line-clamp: 1;
                                                          -webkit-box-orient: vertical;
                                                           overflow: hidden">Grapes</h4>
                                            </a>
                                            <p th:text="${item.description}" style="display: -webkit-box;
                                                      -webkit-line-clamp: 3;
                                                      -webkit-box-orient: vertical;
                                                       overflow: hidden"></p>
                                            <div class="d-flex justify-content-between flex-lg-wrap">
                                                <p class="text-dark fs-5 fw-bold mb-0"
                                                   th:text="${#numbers.formatDecimal(item.price, 1, 'COMMA', 0, 'POINT')}">
                                                    $4.99 / kg</p>
                                                <a href="#"
                                                   id="btn-add-to-cart"
                                                   th:data-product-id="${item.productId}"
                                                   th:data-quantity="1"
                                                   class="btn border border-secondary rounded-pill px-3 text-primary"><i
                                                        class="fa fa-shopping-bag me-2 text-primary"></i>Giỏ hàng</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--      Pagination                -->
                                <div class="col-12">
                                    <ul class="pagination d-flex justify-content-center mt-5"
                                        th:if="${products.totalPages > 1}">
                                        <li th:class="page-item"
                                            th:classappend="${products.hasPrevious()} ? '' : 'disabled'">  <!-- first-->
                                            <a th:class="page-link"
                                               th:href="@{/product/index(page=0, size=${products.size}, search=${search}, categoryId=${categoryId}, sort =${sort})}">First</a>
                                        </li>

                                        <li th:class="page-item"
                                            th:classappend="${products.hasPrevious()} ? '' : 'disabled' ">
                                            <!-- previous-->
                                            <a th:class="page-link"
                                               th:href="@{/product/index(page=${products.hasPrevious()} ? ${products.previousPageable().pageNumber} : ${products.number}, size=${products.size},  search=${search}, categoryId=${categoryId}, sort =${sort})}"
                                               class="page-link rounded">&laquo;</a>
                                        </li>

                                        <li th:each="pageNumber : ${#numbers.sequence(0, products.totalPages -1)}"
                                            th:class="page-item"
                                            th:classappend="${products.number == pageNumber} ? 'active'">
                                            <a th:href="@{/product/index(page=${pageNumber}, size=${products.size},  search=${search}, categoryId=${categoryId}, sort =${sort})}"
                                               class="page-link rounded" th:text="${pageNumber + 1}">1</a>
                                        </li>


                                        <li th:class="page-item"
                                            th:classappend="${products.hasNext()} ? '' : 'disabled'">  <!-- next -->
                                            <a th:href="@{/product/index(page=${products.hasNext()} ? ${products.nextPageable().pageNumber} : ${products.number}, size=${products.size},  search=${search}, categoryId=${categoryId}, sort =${sort})}"
                                               class="page-link rounded">&raquo;</a>
                                        </li>
                                        <li th:class="page-item"
                                            th:classappend="${products.hasNext()} ? '' : 'disabled'">  <!-- last -->
                                            <a th:href="@{/product/index(page=${products.totalPages - 1}, size=${products.size},  search=${search}, categoryId=${categoryId}, sort=${sort}) }"
                                               class="page-link rounded">Last</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fruits Shop End-->
</div>
<div th:replace="~{/user/common/content_footer}"></div>
<script>
    const addToCartButtons = document.querySelectorAll("#btn-add-to-cart")
    addToCartButtons.forEach(button => {
        button.addEventListener('click', function (event) {
            event.preventDefault();
            const productId = this.getAttribute('data-product-id');
            const quantity = this.getAttribute('data-quantity')

            const formData = new FormData();
            formData.append('productId', productId);
            formData.append('quantity', quantity);

            fetch('/cart/add-product', {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    if(data.success){
                        alert("Sản phẩm đã được thêm vào giỏ hàng")
                    }
                })
                .catch(error =>{
                    console.error('Đã xảy ra lỗi không mong muốn: ', error);
                    alert('Đã xảy ra lỗi khi thêm sản phẩm vào giỏ hàng.');
                })

        })
    })

</script>
</body>
</html>