<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Trang cá nhân</title>
    <style th:replace="~{/user/common/head_tag}"></style>
</head>
<body>
    <div th:replace="~{/user/common/content_first}"></div>
    <div class="container" style="margin-top: 200px">
        <section class="vh-100" style="background-color: #f4f5f7;">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col col-lg-6 mb-4 mb-lg-0">
                        <div class="card mb-3" style="border-radius: .5rem;">
                            <div class="row g-0">
                                <div class="col-md-4 gradient-custom text-center text-white"
                                     style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                                         alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
                                    <h5 th:text="${user.fullName}"></h5>
                                    <i class="far fa-edit mb-5"></i>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body p-4">
                                        <h6>Thông Tin Cá Nhân</h6>
                                        <hr class="mt-0 mb-4">
                                        <div class="row pt-1">
                                            <div class="col-6 mb-3">
                                                <h6>Email</h6>
                                                <p class="text-muted" th:text="${user.email}"></p>
                                            </div>
                                            <div class="col-6 mb-3">
                                                <h6>Số điện thoại</h6>
                                                <th:block th:if="${user.phone}==null">
                                                    <p class="text-muted">Chưa cập nhật số điện thoại</p>
                                                </th:block>
                                                <p class="text-muted" th:text="${user.phone}"></p>
                                            </div>
                                        </div>
                                        <hr class="mt-0 mb-4">
                                        <div class="row pt-1">
                                            <div class="col-6 mb-3">
                                                <h6>Ngày sinh</h6>
                                                <th:block th:if="${user.dob}==null">
                                                    <p class="text-muted">Chưa cập nhật ngày sinh</p>
                                                </th:block>
                                                <p class="text-muted" th:text="${user.dob}"></p>
                                            </div>
                                            <div class="col-6 mb-3">
                                                <h6>Địa chỉ</h6>
                                                <th:block th:if="${user.address}==null">
                                                    <p class="text-muted">Chưa cập nhật địa chỉ</p>
                                                </th:block>
                                                <p class="text-muted" th:text="${user.address}"></p>
                                            </div>
                                        </div>
                                        <hr class="mt-0 mb-4">
                                        <div class="row pt-1">
                                            <div class="col-6 mb-3">
                                                <a class="btn btn-outline-info" th:href="@{/user/edit-info(username=${user.userName})}">Cập nhật thông tin</a>
                                            </div>
                                            <div class="col-6 mb-3">
                                                <a class="btn btn-outline-info" th:href="@{/user/change-password}">Đổi mật khẩu</a>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div th:replace="~{/user/common/content_footer}"></div>
</body>
</html>