<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Đơn Hàng</title>
    <style th:replace="~{/user/common/head_tag}"></style>
</head>
<body>
<div th:replace="~{/user/common/content_first}"></div>
<div class="container" style="margin-top: 70px">
    <!-- Checkout Page Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <h1 class="mb-4">Chi Tiết Đơn Hàng: <span th:text="${order.code}"></span></h1>
            <div class="row g-5">
                <div class="col-md-12 col-lg-5 col-xl-5">
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <div class="form-item w-100">
                                <label class="form-label my-3">Tên</label>
                                <div th:text="${order.firstName}"></div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div class="form-item w-100">
                                <label class="form-label my-3">Họ</label>
                                <div th:text="${order.lastName}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">Địa chỉ: </label>
                        <div th:text="${order.shippingAddress}"></div>
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">Số Địện Thoại: </label>
                        <div th:text="${order.shippingPhone}"></div>
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">Địa Chỉ Email: </label>
                        <div th:text="${order.shippingAddress}"></div>
                    </div>
                    <div class="form-item">
                        <label>Trạng thái đơn hàng: </label>
                        <!--                        handle Status-->
                        <div th:if="${order.status == T(com.sontung.eproject_springboot.enums.OrderStatus).ORDERED}"
                             th:text="${T(com.sontung.eproject_springboot.enums.OrderStatus).ORDERED.getDescription()}"
                             class="bg-success text-white rounded px-3 py-1 d-inline-block"></div>
                        <div th:if="${order.status == T(com.sontung.eproject_springboot.enums.OrderStatus).PAID}"
                             th:text="${T(com.sontung.eproject_springboot.enums.OrderStatus).PAID.getDescription()}"
                             class="bg-success text-white rounded px-3 py-1 d-inline-block"></div>
                        <div th:if="${order.status == T(com.sontung.eproject_springboot.enums.OrderStatus).PENDING}"
                             th:text="${T(com.sontung.eproject_springboot.enums.OrderStatus).PENDING.getDescription()}"
                             class="bg-warning text-white rounded px-3 py-1 d-inline-block"></div>
                        <div th:if="${order.status == T(com.sontung.eproject_springboot.enums.OrderStatus).CANCELED}"
                             th:text="${T(com.sontung.eproject_springboot.enums.OrderStatus).CANCELED.getDescription()}"
                             class="bg-danger text-white rounded px-3 py-1 d-inline-block"></div>
                        <div th:if="${order.status == T(com.sontung.eproject_springboot.enums.OrderStatus).COD}"
                             th:text="${T(com.sontung.eproject_springboot.enums.OrderStatus).COD.getDescription()}"
                             class="bg-danger text-white rounded px-3 py-1 d-inline-block"></div>
                        <!--                        end handle Status-->
                    </div>

                </div>
                <div class="col-md-12 col-lg-7 col-xl-7">
                    <div class="table-responsive">
                        <table class="table" id="orderDetailsTable">
                            <thead>
                            <tr>
                                <th scope="col">Sản Phẩm</th>
                                <th scope="col">Tên</th>
                                <th scope="col">Giá</th>
                                <th scope="col">Số Lượng</th>
                                <th scope="col">Thành Tiền</th>
                            </tr>
                            </thead>
                            <tbody>

                            <th:block th:each="item: ${order.orderDetails}">
                                <tr class="order-item">
                                    <th:block th:if="${item.product != null}">
                                        <th scope="row">
                                            <div class="d-flex align-items-center mt-2">
                                                <img th:src="@{${s3BucketUrl} + ${item.product.image}}"
                                                     class="img-fluid rounded-circle"
                                                     style="width: 90px; height: 90px; object-fit: cover" alt="">
                                            </div>
                                        </th>
                                        <td class="py-5" th:text="${item.product.productName}">Awesome Brocoli</td>
                                    </th:block>
                                    <th:block th:if="${item.combo != null}">
                                        <th scope="row">
                                            <div class="d-flex align-items-center mt-2">
                                                <img th:src="@{${s3BucketUrl} + ${item.combo.image}}"
                                                     class="img-fluid rounded-circle"
                                                     style="width: 90px; height: 90px;" alt="">
                                            </div>
                                        </th>
                                        <td class="py-5" th:text="${item.combo.comboName}">Awesome Brocoli</td>
                                    </th:block>

                                    <td class="py-5" th:text="${#numbers.formatDecimal(item.price, 1, 'COMMA', 0, 'POINT')}">$69.00</td>
                                    <td class="py-5" th:text="${item.quantity}">2</td>
                                    <td class="py-5"
                                        th:text="${#numbers.formatDecimal(item.price*item.quantity, 1, 'COMMA', 0, 'POINT')}">
                                        $138.00
                                    </td>
                                </tr>
                            </th:block>


                            <tr>
                                <th scope="row">
                                </th>
                                <td class="py-5"></td>
                                <td class="py-5"></td>
                                <td class="py-5">
                                    <p class="mb-0 text-dark py-3">Tiền Hàng</p>
                                </td>
                                <td class="py-5">
                                    <div class="py-3 border-bottom border-top">
                                        <p class="mb-0 text-dark"
                                           th:text="${#numbers.formatDecimal(order.totalAmount, 1, 'COMMA', 0, 'POINT')} + ' (VND)'">
                                            $414.00</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                </th>
                                <td class="py-5">
                                    <p class="mb-0 text-dark text-uppercase py-3">Tổng Hóa Đơn</p>
                                </td>
                                <td class="py-5"></td>
                                <td class="py-5"></td>
                                <td class="py-5">
                                    <div class="py-3 border-bottom border-top">
                                        <p class="mb-0 text-dark"
                                           th:text="${#numbers.formatDecimal(order.totalAmount, 1, 'COMMA', 0, 'POINT')} + ' (VND)'">
                                            $135.00</p>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row g-4 text-center align-items-center justify-content-center pt-4"
                         th:if="${order.status == T(com.sontung.eproject_springboot.enums.OrderStatus).PENDING}">
                        <form th:action="@{/order/re-create}" method="post">
                            <input type="hidden" th:name="code" th:value="${order.code}">
                            <button type="submit" id="checkoutButton"
                                    class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary">
                                Thanh Toán Lại.
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Checkout Page End -->
</div>
<div th:replace="~{/user/common/content_footer}"></div>

<script th:inline="javascript">  //th:inline="javascript" phải có dòng này thì mới dùng biến của thymeleaf được.

</script>
</body>
</html>