<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Trang chủ</title>
    <style th:replace="~{/user/common/head_tag}"></style>
    <style>
        .notification {
            position: fixed;
            bottom: 20px;
            right: 20px;
            background-color: #28a745;
            color: white;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            z-index: 1000;
        }

    </style>
</head>
<body>
<div th:replace="~{/user/common/content_first}"></div>
<div class="container" style="margin-top: 200px">

    <div th:replace="~{/user/common/content_first}"></div>
    <div class="container mt-3">
        <th:block th:if="${loggedInUser}!=null">
            <h3 th:text="'Chào mừng ' + ${loggedInUser.fullName} + ' đã đến với website của chúng tôi'"></h3>
        </th:block>
        <th:block th:if="${loggedInUser}==null">
            <h3>Chào mừng đến với website</h3>
        </th:block>
        <!-- Thông báo xác nhận -->
        <div id="notification" class="notification" style="display: none;">
            <p>Sản phẩm đã được thêm vào giỏ hàng!</p>
        </div>
        <!-- Featurs Section Start -->
        <div class="container-fluid featurs">
            <div class="container py-5">
                <div class="row g-4">
                    <div class="col-md-6 col-lg-3">
                        <div class="featurs-item text-center rounded bg-light p-4">
                            <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                                <i class="fas fa-car-side fa-3x text-white"></i>
                            </div>
                            <div class="featurs-content text-center">
                                <h5>Free Shipping</h5>
                                <p class="mb-0">Free on order over $300</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="featurs-item text-center rounded bg-light p-4">
                            <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                                <i class="fas fa-user-shield fa-3x text-white"></i>
                            </div>
                            <div class="featurs-content text-center">
                                <h5>Security Payment</h5>
                                <p class="mb-0">100% security payment</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="featurs-item text-center rounded bg-light p-4">
                            <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                                <i class="fas fa-exchange-alt fa-3x text-white"></i>
                            </div>
                            <div class="featurs-content text-center">
                                <h5>30 Day Return</h5>
                                <p class="mb-0">30 day money guarantee</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="featurs-item text-center rounded bg-light p-4">
                            <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                                <i class="fa fa-phone-alt fa-3x text-white"></i>
                            </div>
                            <div class="featurs-content text-center">
                                <h5>24/7 Support</h5>
                                <p class="mb-0">Support every time fast</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Featurs Section End -->
        <!-- Product Start-->
        <div class="container-fluid fruite">
            <div class="container py-5">
                <div class="tab-class text-center">
                    <div class="row g-4">
                        <div class="col-lg-4 text-start">
                            <h1>Our Products</h1>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane fade show p-0 active">
                            <div class="row g-4">
                                <div class="col-lg-12">
                                    <div class="row g-4">
                                        <th:block th:each="item : ${products}">
                                            <div class="col-md-6 col-lg-4 col-xl-3">
                                                <div class="rounded position-relative fruite-item">
                                                    <div class="fruite-img">
                                                        <a th:href="@{/product/detail/{id}(id=${item.productId})}">
                                                            <img th:src="${item.getImageUrl}"
                                                                 class="img-fluid w-100 rounded-top" alt=""
                                                                 style="width: 294px;height: 171px; object-fit: cover">
                                                        </a>
                                                    </div>
                                                    <th:block th:each="cateItem : ${categories}">
                                                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                                                             th:if="${cateItem.categoryId == item.category.categoryId}"
                                                             th:text="${cateItem.categoryName}"
                                                             style="top: 10px; left: 10px;">CategoryName
                                                        </div>
                                                    </th:block>
                                                    <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                                        <a th:href="@{/product/detail/{id}(id=${item.productId})}">
                                                            <h4 th:text="${item.productName}" style="display: -webkit-box;
                                                          -webkit-line-clamp: 1;
                                                          -webkit-box-orient: vertical;
                                                           overflow: hidden;
                                                           min-height: 3em;
                                                           text-align: left">Grapes</h4>
                                                        </a>
                                                        <p th:text="${item.description}" style="display: -webkit-box;
                                                      -webkit-line-clamp: 2;
                                                      -webkit-box-orient: vertical;
                                                       overflow: hidden;
                                                       min-height: 3em;
                                                       text-align: left">Lorem ipsum dolor sit amet consectetur
                                                            adipisicing elit sed do eiusmod te incididunt</p>
                                                        <div class="d-flex justify-content-between flex-lg-wrap">
                                                            <p class="text-dark fs-5 fw-bold mb-0"
                                                               th:text="${#numbers.formatDecimal(item.price,1,'COMMA',0,'POINT')}">
                                                                $4.99 / kg</p>
                                                            <a href="#!"
                                                               th:classappend="btn-add-to-cart"
                                                               th:data-product-id="${item.productId}"
                                                               class="btn border border-secondary rounded-pill px-3 text-primary"><i
                                                                    class="fa fa-shopping-bag me-2 text-primary"></i>Giỏ
                                                                hàng</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </th:block>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <a class="mt-3 text-end" style="font-size: 24px; color: var(--bs-secondary)"
                           href="/product/index">&raquo;
                            view all
                            product</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product End-->
        <!-- Combo Start-->
        <div class="container-fluid fruite">
            <div class="container py-5">
                <div class="tab-class text-center">
                    <div class="row g-4">
                        <div class="col-lg-4 text-start">
                            <h1>Our Combos</h1>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div id="tab-11" class="tab-pane fade show p-0 active">
                            <div class="row g-4">
                                <div class="col-lg-12">
                                    <div class="row g-4">
                                        <!--                                        Todo th:each lap qua cac combo-->
                                        <th:block th:each="item : ${combos}">
                                            <div class="col-md-6 col-lg-4 col-xl-3">
                                                <div class="rounded position-relative fruite-item">
                                                    <div class="fruite-img">
                                                        <a th:href="@{/combo/detail(comboId=${item.comboId})}">
                                                            <img th:src="${item.getImageUrl}"
                                                                 class="img-fluid w-100 rounded-top" alt=""
                                                                 style="width: 294px;height: 171px; object-fit: cover">
                                                        </a>
                                                    </div>
                                                    <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                                                         style="top: 10px; left: 10px;" th:text="${item.comboName}">
                                                        Fruits
                                                    </div>
                                                    <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                                        <a th:href="@{/comb/detail(comboId=${item.comboId})}">
                                                            <h4 th:text="${item.comboName}" style="display: -webkit-box;
                                                          -webkit-line-clamp: 1;
                                                          -webkit-box-orient: vertical;
                                                           overflow: hidden;
                                                           min-height: 3em;
                                                           text-align: left">Grapes</h4>
                                                        </a>
                                                        <p th:text="${item.description}" style="display: -webkit-box;
                                                      -webkit-line-clamp: 2;
                                                      -webkit-box-orient: vertical;
                                                       overflow: hidden;
                                                       min-height: 3em;
                                                       text-align: left">Lorem ipsum dolor sit amet consectetur
                                                            adipisicing elit sed do eiusmod te incididunt</p>
                                                        <div class="d-flex justify-content-between flex-lg-wrap">
                                                            <p class="text-dark fs-5 fw-bold mb-0"
                                                               th:text="${#numbers.formatDecimal(item.finalAmount,1,'COMMA',0,'POINT')}">
                                                                $4.99 / kg</p>
                                                            <a href="#"
                                                               th:classappend="btn-add-to-cart"
                                                               th:data-combo-id="${item.comboId}"
                                                               class="btn border border-secondary rounded-pill px-3 text-primary"><i
                                                                    class="fa fa-shopping-bag me-2 text-primary"></i>Giỏ
                                                                hàng</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </th:block>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <a class="mt-3 text-end" style="font-size: 24px; color: var(--bs-secondary)"
                           href="/combo/index">&raquo;
                            view all
                            combo</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Combo End-->
    </div>
</div>
<div th:replace="~{/user/common/content_footer}"></div>
<script>
    const notification = document.getElementById("notification");

    const addToCartButton = document.querySelectorAll('.btn-add-to-cart');
    addToCartButton.forEach(button => {
        button.addEventListener('click', function (event) {
            event.preventDefault();

            const productId = this.getAttribute('data-product-id');
            const comboId = this.getAttribute('data-combo-id')

            const formData = new FormData();
            formData.append('quantity', "1");
            if (comboId) {
                formData.append('comboId', comboId);
            }
            if (productId) {
                formData.append('productId', productId);
            }

            fetch('/cart/add-item-to-cart', {
                method: 'POST',
                body: formData
            })
                .then(response => {
                    if (response.redirected) {
                        window.location.href = response.url
                    } else {
                        return response.json()
                    }
                })
                .then(data => {
                    if (data.success) {
                        // Hiển thị thông báo
                        notification.style.display = 'block'
                        // Ẩn thông báo sau 3s
                        setTimeout(() => {
                            notification.style.display = 'none';
                        }, 3000)
                        // Todo: không cập nhật trên giao diện

                        // Cập nhật số lượng item trong Cart
                        const cartCountElement = document.getElementById('cart-count');
                        cartCountElement.innerText = data.cartItemCount
                    }
                })
                .catch(error => {
                    console.error('Đã xảy ra lỗi không mong muốn: ', error);
                    //alert('Đã xảy ra lỗi khi thêm sản phẩm vào giỏ hàng.');
                })
        })
    });
</script>
</body>
</html>