<script src="/assets/js/preloader.js"></script>
<div class="body-wrapper">
    <!-- partial:../../partials/_sidebar.html -->
    <aside class="mdc-drawer mdc-drawer--dismissible mdc-drawer--open">
        <div class="mdc-drawer__header">
            <a href="../../index.html" class="brand-logo">
                <img src="/assets/images/logo.svg" alt="logo">
            </a>
        </div>
        <div class="mdc-drawer__content">
            <div class="user-info">
                <p class="name" th:text="${loggedInUser.fullName}"></p>
                <p class="email" th:text="${loggedInUser.email}"></p>
            </div>
            <div class="mdc-list-group">
                <nav class="mdc-list mdc-drawer-menu">
                    <div class="mdc-list-item mdc-drawer-item">
                        <a class="mdc-drawer-link" href="../../index.html">
                            <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon"
                               aria-hidden="true">home</i>
                            Trang chủ
                        </a>
                    </div>


                    <div class="mdc-list-item mdc-drawer-item">
                        <!--                        <a class="mdc-expansion-panel-link" href="#" data-toggle="expansionPanel" data-target="sample-page-submenu">-->
                        <!--                            <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">pages</i>-->
                        <!--                            Sample Pages-->
                        <!--                            <i class="mdc-drawer-arrow material-icons">chevron_right</i>-->
                        <!--                        </a>-->

                    </div>
                    <div class="mdc-expansion-panel" id="sample-page-submenu">
                        <nav class="mdc-list mdc-drawer-submenu">
                            <div class="mdc-list-item mdc-drawer-item">
                                <a class="mdc-drawer-link" th:href="@{/admin/category}">
                                    Danh Mục
                                </a>
                            </div>
                            <div class="mdc-list-item mdc-drawer-item">
                                <a class="mdc-drawer-link" th:href="@{/admin/product}">
                                    Sản Phẩm
                                </a>
                            </div>
                            <div class="mdc-list-item mdc-drawer-item">
                                <a class="mdc-drawer-link" th:href="@{/admin/combo}">
                                    Combo
                                </a>
                            </div>

                            <div class="mdc-list-item mdc-drawer-item">
                                <a class="mdc-drawer-link" th:href="@{/admin/order}">
                                    Đơn Hàng
                                </a>
                            </div>
                        </nav>
                    </div>

                </nav>
            </div>
            <div class="profile-actions px-0">
                <form th:action="@{/admin/logout}" method="post" class="w-100">
                    <button type="submit" class="btn btn-danger w-100">Đăng Xuất</button>
                </form>
            </div>

        </div>
    </aside>
    <!-- partial -->
    <div class="main-wrapper mdc-drawer-app-content">
        <!-- partial:../../partials/_navbar.html -->
        <header class="mdc-top-app-bar">
            <div class="mdc-top-app-bar__row">
                <div class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                    <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button sidebar-toggler">
                        menu
                    </button>
                    <span class="mdc-top-app-bar__title" th:text="'Greetings ' + ${loggedInUser.fullName}"></span>

                </div>
                <div class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end mdc-top-app-bar__section-right">
                    <div class="menu-button-container menu-profile d-none d-md-block">
                        <button class="mdc-button mdc-menu-button">
                <span class="d-flex align-items-center">
                  <span class="figure">
                    <img src="/assets/images/faces/face1.jpg" alt="user" class="user">
                  </span>
                  <span class="user-name" th:text="${loggedInUser.fullName}"></span>
                </span>
                        </button>
                        <div class="mdc-menu mdc-menu-surface" tabindex="-1">
                            <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical">
                                <li class="mdc-list-item" role="menuitem">
                                    <div class="item-thumbnail item-thumbnail-icon-only">
                                        <i class="mdi mdi-account-edit-outline text-primary"></i>
                                    </div>
                                    <div class="item-content d-flex align-items-start flex-column justify-content-center">
                                        <h6 class="item-subject font-weight-normal">Edit profile</h6>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="divider d-none d-md-block"></div>
                </div>
            </div>
        </header>
        <!-- partial -->
        <div class="page-wrapper mdc-toolbar-fixed-adjust">
            <main class="content-wrapper">