<!DOCTYPE html>
<html lang="vn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Create Product</title>
    <style th:replace="~{/admin/common/head_tag}"></style>
</head>
<body>
<div th:replace="~{/admin/common/content_first}"></div>
<div class="container">
<!--    <a th:href="@{/admin/product/create}" class="btn btn-outline-primary mb-2 mt-4">Create</a>-->
    <h1 class="text-center">Create New Product</h1>
    <form class="col-md-6 mx-auto" action="/admin/product/create" method="POST" th:object="${product}" enctype="multipart/form-data">
        <div class="form-group">
            <label for="product_name">Name</label>
            <input class="form-control" type="text" name="product_name" th:field="*{productName}" id="product_name"
            placeholder="Product name">
        </div>
        <div class="form-group">
            <label for="description">description</label>
            <input class="form-control" type="text" name="description" th:field="*{description}" id="description"
                   placeholder="description">
        </div>
        <div class="form-group">
            <label for="file">Image</label>
            <input class="form-control" type="file" name="file" id="file">
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input class="form-control" type="text" name="price" th:field="*{price}" id="price"
            placeholder="Price">
        </div>
        <div class="form-group">
            <label for="category">Category: </label>
            <select class="custom-select custom-select-lg mb-3" id="category" th:field="*{category.categoryId}">
                <option th:each="category : ${categories}"
                        th:value="${category.categoryId}"
                        th:text="${category.categoryName}"
                ></option>
            </select>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>

</div>
<div th:replace="~{/admin/common/content_footer}"></div>
</body>
</html>