<!DOCTYPE html>
<html lang="vn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Edit Product</title>
    <style th:replace="/admin/common/head_tag"></style>
</head>
<body>
<div th:replace="~{/admin/common/content_first}"></div>
<div class="container">
<!--    <a th:href="@{/admin/product/create}" class="btn btn-outline-primary mb-2 mt-4">Create</a>-->
    <h1 class="text-center">Edit Product</h1>
    <form class="col-md-6 mx-auto" th:action="@{/admin/product/edit/{id}(id=${product.productId})}" method="POST" th:object="${product}" enctype="multipart/form-data">
<!--        Dùng trường ẩn để gửi data-->
        <input type="hidden" th:field="*{productId}" />
        <input type="hidden" th:field="*{createdDate}" />
        <input type="hidden" th:field="*{updatedDate}" />

        <div class="form-group">
            <label for="product_name">Name</label>
            <input class="form-control" type="text" name="product_name" th:field="*{product_name}" id="product_name"
            placeholder="Product name">
        </div>
        <div class="form-group">
            <label for="description">description</label>
            <input class="form-control" type="text" name="description" th:field="*{description}" id="description"
                   placeholder="description">
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input class="form-control" type="text" name="price" th:field="*{price}" id="price"
            placeholder="Price">
        </div>

        <div class="form-group">
            <label for="file">Upload Image:</label>
            <input type="file" id="file" name="file" />
            <br />
            <img th:src="${s3BucketUrl} + ${product.image}" alt="Current Image" style="max-width: 200px; margin-top: 10px;" />
        </div>

        <div class="form-group">
            <label for="status">Status:</label>
            <select id="status" th:field="*{status}">
                <option value="0">Inactive</option>
                <option value="1">Active</option>
            </select>
        </div>

        <div class="form-group">
            <label for="category">Category</label>
            <select id="category" th:field="*{category.categoryId}">
                <option th:each="category : ${categories}" th:value="${category.categoryId}" th:text="${category.categoryName}"></option>
            </select>
        </div>


        <div>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>

</div>
<div th:replace="~{/admin/common/content_footer}"></div>
</body>
</html>