<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Chi tiết danh mục</title>
    <style th:replace="~{/admin/common/head_tag}"></style>
</head>
<body>
    <div th:replace="~{/admin/common/content_first}"></div>
    <div class="container">
        <h3>Chi tiết danh mục</h3>
        <dl>
            <dt>Tên danh mục</dt>
            <dd th:text="${category.categoryName}"></dd>
            <dt>Trạng thái</dt>
            <dd th:text="${category.status}==1?'Actice':'Inavtice'"></dd>
            <dt>Ngày tạo</dt>
            <dd th:text="${category.createdDate}"></dd>
            <dt>Ngày cập nhật cuối</dt>
            <dd th:text="${category.updatedDate}"></dd>
        </dl>
        <a th:href="@{/admin/category}" class="btn btn-outline-warning mt-4">Trở lại</a>
    </div>
    <div th:replace="~{/admin/common/content_footer}"></div>
</body>
</html>