<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Quản lý đơn hàng</title>
    <style th:replace="~{/admin/common/head_tag}"></style>
</head>
<body>
    <div th:replace="~{/admin/common/content_first}"></div>
    <div class="container">
        <h1 class="text-center">Quản Lý Đơn Hàng</h1> <hr/>
        <div class="row">
            <div class="col-md-8">
                <form th:action="@{/admin/order}" method="get">
                    <div class="row">
                        <div class="form-group col-4">
                            <label for="amongPrice">Theo giá</label>
                            <select id="amongPrice" name="amongPrice" class="form-control" onchange="this.form.submit()">
                                <option value="0">Tất cả</option>
                                <option value="1" th:selected="${amongPrice == 1}">Dưới 100k</option>
                                <option value="2" th:selected="${amongPrice == 2}">100k -> 200k</option>
                                <option value="3" th:selected="${amongPrice == 3}">200k -> 300k</option>
                                <option value="4" th:selected="${amongPrice == 4}">300k -> 500k</option>
                                <option value="5" th:selected="${amongPrice == 5}">500k Trở Lên</option>
                            </select>
                        </div>
                        <div class="form-group col-4">
                            <label class="form-label" for="filterDate">Tìm theo ngày</label>
                            <input type="date"
                                   id="filterDate"
                                   name="filterDate"
                                   class="form-control"
                                   th:value="${filterDate != null} ? ${#dates.format(filterDate, 'yyyy-MM-dd')} : ''"
                                   onchange="this.form.submit()">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <form action="">
                    <div class="form-group">
                        <input type="text"
                               name="searchName"
                               id="searchName"
                               placeholder="Số điện thoại">
                        <button class="btn btn-outline-primary">Tìm kiếm</button>
                    </div>
                </form>
            </div>
        </div>
        <th:block th:if="${orders!=null}">
            <table class="table table-light table-striped table-bordered">
                <thead class="table-dark">
                <tr>
                    <th class="text-center">Mã đơn hàng</th>
                    <th class="text-center">Ngày tạo</th>
                    <th class="text-center">Địa chỉ giao</th>
                    <th class="text-center">Số điện thoại</th>
                    <th class="text-center">Trạng thái</th>
                    <th class="text-center">Tồng tiền</th>
                    <th class="text-center">Xem chi tiết</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item: ${orders}">
                    <td class="text-center" th:text="${item.code}"></td>
                    <td class="text-center" th:text="${#temporals.format(item.orderDate, 'dd/MM/yyyy')}"></td>
                    <td class="text-center" th:text="${item.shippingAddress}"></td>
                    <td class="text-center" th:text="${item.shippingPhone}"></td>
<!--                    <td class="text-center" th:text="${item.status}==1?'Hoàn thành':'Không hoàn thành'"></td>-->
                    <td class="text-center" th:text="${item.status == T(com.sontung.eproject_springboot.enums.OrderStatus).PAID ? 'Hoàn thành' : 'Không hoàn thành'}"></td>
                    <td class="text-center" th:text="${#numbers.formatDecimal(item.totalAmount, 1, 'COMMA', 0, 'POINT')}"></td>
                    <td class="text-center">
                        <a th:href="@{/admin/order/detail(orderId=${item.orderId})}" class="btn btn-info"><i class="fa-solid fa-circle-info"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>

        </th:block>
        <th:block th:if="${orders==null}">
            <h2 th:text="'Không có đơn hàng nào trong ngày' + ${filterDate}"></h2>
        </th:block>
        <th:block th:if="${filterDate == null} and ${amongPrice} == null">
            <div th:replace="admin/common/pagination-fragment :: pagination('/admin/order', ${currentPage}, ${totalPages}, ${size})"></div>
        </th:block>
        <th:block th:if="${filterDate != null} and ${amongPrice} == null">
            <div th:replace="admin/common/pagination-fragment :: pagination('/admin/order?filterDate=' + ${#dates.format(filterDate, 'yyyy-MM-dd')}, ${currentPage}, ${totalPages}, ${size})"></div>
        </th:block>
        <th:block th:if="${filterDate == null} and ${amongPrice} != null">
            <div th:replace="admin/common/pagination-fragment :: pagination('/admin/order?amongPrice=' + ${amongPrice}, ${currentPage}, ${totalPages}, ${size})"></div>
        </th:block>
        <th:block th:if="${filterDate != null} and ${amongPrice} != null">
            <div th:replace="admin/common/pagination-fragment :: pagination('/admin/order?amongPrice='+ ${amongPrice} + '&filterDate=' + ${#dates.format(filterDate, 'yyyy-MM-dd')}, ${currentPage}, ${totalPages}, ${size})"></div>
        </th:block>

    </div>
    <div th:replace="~{/admin/common/content_footer}"></div>
</body>
</html>