<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Giỏ Hàng</title>
    <style th:replace="~{/user/common/head_tag}"></style>
</head>
<body>
<div th:replace="~{/user/common/content_first}"></div>
<div class="container" style="margin-top: 70px">

    <!-- Single Page Header start -->
    <!--    <div class="container-fluid page-header py-5">-->
    <!--        <h1 class="text-center text-white display-6">Giỏ Hàng Của Bạn</h1>-->
    <!--        <ol class="breadcrumb justify-content-center mb-0">-->
    <!--            <li class="breadcrumb-item"><a th:href="@{/home/index}">Trang chủ</a></li>-->
    <!--            <li class="breadcrumb-item active text-white">Giỏ Hàng Của Bạn</li>-->
    <!--        </ol>-->
    <!--    </div>-->
    <!-- Single Page Header End -->
    <!-- Cart Page Start -->


    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="table-responsive">
                <!--            Thông báo thành công hay lỗi -->
                <div th:if="${message}" class="alert alert-success" role="alert">
                    <span th:text="${message}"></span>
                </div>
                <div th:if="${warning}" class="alert alert-warning" role="alert">
                    <span th:text="${warning}"></span>
                </div>
                <div th:if="${error}" class="alert alert-danger" role="alert">
                    <span th:text="${error}"></span>
                </div>
                <!--            Thông báo thành công hay lỗi -->
                <h3>Giỏ Hàng Của Bạn</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">
                            <input class="select-all" type="checkbox"/>
                        </th>
                        <th scope="col">Sản Phẩm</th>
                        <th scope="col">Tên</th>
                        <th scope="col">Giá</th>
                        <th scope="col">Số Lượng</th>
                        <th scope="col">Thành Tiền</th>
                        <th scope="col">Xử Lý</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="item: ${cartDetail}">
                        <tr>
                            <td>
                                <label>
                                    <input type="checkbox"
                                           th:attr="name=${'checkedItems[' + item.id + ']'}"
                                           th:checked="${#lists.contains(checkedItems, item.id)}"
                                           th:data-id="${item.id}"
                                           class="product-checkbox">
                                </label>
                                <!--                                       name="selectedItems" th:value="${item.id}"-->
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img th:src="@{${s3BucketUrl} + ${item.image}}" class="img-fluid me-5"
                                         style="width: 160px; object-fit: cover" alt="">
                                </div>
                            </td>
                            <td>
                                <p class="mb-0 mt-4" th:text="${item.name}"></p>
                            </td>
                            <td>
                                <p class="mb-0 mt-4"
                                   th:text="${#numbers.formatDecimal(item.currentPrice, 1, 'COMMA', 0, 'POINT')}">
                                </p>
                                <del class="mb-0 mt-4 text-danger"
                                     th:if="${item.currentPrice != item.price}"
                                     th:text="${#numbers.formatDecimal(item.price, 1, 'COMMA', 0, 'POINT')}">
                                </del>
                            </td>
                            <td>
                                <div class="input-group quantity mt-4" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-minus rounded-circle bg-light border p-2">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control form-control-sm text-center border-0"
                                           name="quantity"
                                           th:value="${item.quantity}"
                                           th:data-quantity-id="${item.id}"
                                           th:classappend="quantity-input">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-plus rounded-circle bg-light border p-2">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <p class="mb-0 mt-4 amount-element"
                                   th:attr="data-price=${item.price}"
                                   th:text="${#numbers.formatDecimal(item.currentPrice*item.quantity, 1, 'COMMA', 0, 'POINT')}"></p>
                            </td>
                            <td>
                                <form th:action="@{/cart/remove}" method="post">
                                    <input type="hidden" name="id" th:value="${item.id}">
                                    <button class="btn btn-md rounded-circle bg-light border mt-4"
                                            th:action="@{/cart/remove}" th:method="post">
                                        <i class="fa fa-times text-danger"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        <!-- Hiển thị comboDetails nếu không rỗng -->
                        <tr th:if="${item.comboDetails != null && item.comboDetails.size() > 0}">
                            <td colspan="6">
                                <table class="table" style="margin-left: 650px; width: 550px">
                                    <tr th:each="detail : ${item.comboDetails}">
                                        <td><img th:src="@{${s3BucketUrl} + ${detail.product.image}}" alt=""
                                                 style="height: 50px"></td>
                                        <td th:text="${detail.product.productName}"></td>
                                        <td th:text="${detail.quantity}"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr th:if="${item.comboDetails == null}">

                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
            <div class="row g-4 justify-content-end">
                <div class="col-8"></div>
                <div class="col-sm-8 col-md-7 col-lg-6 col-xl-4">
                    <div class="bg-light rounded">
                        <div class="p-4">
                            <h1 class="display-6 mb-4">Giỏ Hàng: <span class="fw-normal">Tổng</span></h1>
                            <div class="d-flex justify-content-between mb-4">
                                <h5 class="mb-0 me-4">Tổng tiền sản phẩm:</h5>
                                <!--                                total-amount-->
                                <p class="mb-0 total-amount"
                                   th:text="${#numbers.formatDecimal(amount, 1, 'COMMA', 0, 'POINT')} + ' (VND)'"></p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <!--                                Shipping-cost-->
                                <h5 class="mb-0 me-4 ">Phí Vận Chuyển</h5>
                                <div class="">
                                    <p class="mb-0 shipping-cost">0 (VND)</p>
                                </div>
                            </div>
                            <!--                            <p class="mb-0 text-end">Shipping to Ukraine.</p>-->
                        </div>
                        <div class="py-4 mb-4 border-top border-bottom d-flex justify-content-between">
                            <h5 class="mb-0 ps-4 me-4">Tổng Thanh Toán</h5>
                            <!--                            total-payment-->
                            <p class="mb-0 pe-4 total-payment"
                               th:text="${#numbers.formatDecimal(amount, 1, 'COMMA', 0, 'POINT')} + ' (VND)'"></p>
                        </div>
                        <button class="btn border-secondary rounded-pill px-4 py-3 text-primary text-uppercase mb-4 ms-4 checkout-button"
                                type="button">Thanh Toán
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart Page End -->

</div>
<div th:replace="~{/user/common/content_footer}"></div>
<script>
    /**
     * Kiểm tra checkAll
     * **/
    function isCheckAll() {
        let allChecked = true;
        const checkBoxs = document.querySelectorAll('.product-checkbox');
        checkBoxs.forEach(checkbox => {
            if (!checkbox.checked) {
                allChecked = false;
                return allChecked;
            }
        })
        return allChecked;
    }

    /**
     * Lấy ra tất cả những item đang được checked trên UI
     * **/
    function getItemsChecked() {
        let cartItems = []
        document.querySelectorAll('.product-checkbox').forEach(checkbox => {
            if (checkbox.checked) {
                let id = checkbox.getAttribute('data-id')
                cartItems.push(id)
            }
        })
        return cartItems;
    }

    /**
     * Khi trang web đã load xong và sẵn sàng
     **/
    function handleQuantityChange(element) {
        const quantityInput = element.classList.contains("btn-minus") || element.classList.contains('btn-plus')
            ? element.closest('.input-group').querySelector('input')
            : element

        let quantity = parseInt(quantityInput.value)
        // Xử lý trường hợp quantity == NaN
        if (isNaN(quantity)) {
            console.log("quantiy is NanN")
            quantityInput.value = prevQuantity
            return;
        }
        let form = element.closest('tr').querySelector('form');
        let cartId = form.querySelector('input[name="id"]').value
        let price = parseFloat(element.closest('tr').querySelector('.amount-element').getAttribute('data-price'));

        // Trường hợp số lượng giảm xuống 0
        if (quantity <= 0) {
            if (confirm("Bạn có chắc muốn xoá sản phẩm này khỏi giỏ hàng?")) {
                // call api
                fetch(`/remove`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        id: cartId
                    })
                }).then(response => {
                    if (response.redirected) {
                        // Nếu server trả về một redirect, thực hiện điều hướng tới URL đó
                        window.location.href = response.url;
                    } else {
                        // Nếu không có redirect, xóa sản phẩm khỏi giao diện
                        element.closest('tr').remove();
                        // Cập nhật lại tổng tiền
                        updateTotalAmount();
                    }
                }).catch(error => console.error("Lỗi: " + error));
            } else {
                // Nếu người dùng chọn "Cancel", khôi phục số lượng về giá trị trước đó
                quantityInput.value = prevQuantity;
            }
        } else {
            // Call Api update quantity
            fetch(`/cart/updateQuantity`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    //  'X-CSRF-TOKEN':
                },
                body: JSON.stringify({
                    id: cartId,
                    quantity: quantity
                })
            }).then(response => response.json())
                .then(data => {
                    if (data.success) {
                        // Cập nhật thành tiền.
                        let updatedAmount = quantity * price;
                        element.closest('tr').querySelector('.amount-element')
                            .textContent = new Intl.NumberFormat('en-US', {
                            style: 'decimal',
                            minimumFractionDigits: 0,
                        }).format(updatedAmount);

                        // Tính lại tổng tiền.
                        updateTotalAmount();
                    } else {
                        quantityInput.value = prevQuantity;
                        alert("Đã có lỗi :" + data.message);
                    }
                }).catch(error => console.error("Lỗi " + error))
        }

    }

    /**
     * Hàm tính toán tổng tiền dựa trên các sản phẩm đã chọn.
     * **/
    function updateTotalAmount() {
        let totalAmount = 0;
        document.querySelectorAll('.product-checkbox:checked').forEach((checkbox) => {
            let row = checkbox.closest('tr');
            let amountElement = row.querySelector('.amount-element');
            let amount = parseFloat(amountElement.textContent.replace(/[^\d]/g, ''));
            totalAmount += amount;
        });

        // cap nhat tong tien
        let totalAmountElement = document.querySelector('.total-amount');
        let totalPaymentElement = document.querySelector('.total-payment');
        totalAmountElement.textContent = new Intl.NumberFormat('en-US', {
            style: 'decimal',
            minimumFractionDigits: 0,
        }).format(totalAmount) + ' (VND)';
        totalPaymentElement.textContent = totalAmountElement.textContent
    }

    let prevQuantity = 0;  // Biến Global để sử dụng ở các func khác nhau.
    document.addEventListener("DOMContentLoaded", function () {
        // khi người dùng thay đổi số lượng bằng nút tăng/giảm

        document.querySelectorAll('.btn-minus, .btn-plus').forEach((button) => {
                button.addEventListener('click', function () {
                    let quantityInput = this.closest('.input-group').querySelector('input');
                    prevQuantity = parseInt(quantityInput.value) + 1;
                    handleQuantityChange(this);
                })
            }
        )
        // Khi người dùng thay đổi số lượng bằng cách nhập trực tiếp.

        document.querySelectorAll('.quantity-input').forEach((input) => {
            input.addEventListener('focus', function () {
                prevQuantity = parseInt(this.value);
            })

            input.addEventListener('change', function () {
                handleQuantityChange(this);
            })
        })

        // Xử lý checkAll Item
        document.querySelector('.select-all').addEventListener('change', (element) => {
            let checked = element.target.checked;
            document.querySelectorAll('.product-checkbox').forEach(element => {
                element.checked = checked;
            })

            let cartItems = getItemsChecked();

            fetch(`/cart/updateChecked`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: new URLSearchParams({
                    'selectAll': checked,
                    'cartItems': cartItems
                })
            }).then(response => response.json())
                .then(data => {
                    if (data.success) {
                        updateTotalAmount();
                    } else {
                        console.error("Có lỗi xảy ra khi cập nhật checked")
                    }
                }).catch(error => {
                console.error("Có lỗi từ server: " + error.toString());
            })
        })
        // Khi người dùng chọn hoặc bỏ chọn sản phẩm.
        document.querySelectorAll('.product-checkbox').forEach((element) => {
            element.addEventListener('change', () => {
                    let id = element.getAttribute('data-id');
                    let checked = element.checked;

                    fetch(`/cart/updateChecked`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        },
                        body: new URLSearchParams({
                            'id': id,
                            'checked': checked
                        })
                    }).then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                // Sau khi cap nhat tinh toan tien lai o client
                                updateTotalAmount();
                            } else {
                                console.error("Có lỗi xảy ra khi cập nhật checked");
                            }

                        }).catch(error => {
                        console.error("Có lỗi từ server: " + error);
                    })
                }
            )
        })

        // Handle CheckBox checkAll
        if (isCheckAll()) {
            const checkBox = document.querySelector('.select-all')
            checkBox.checked = true
        }

        // Gọi hàm tính tổng tiền khi trang web được load lần đầu.
        updateTotalAmount();

        // Handle Checkout button
        document.querySelector('.checkout-button').addEventListener('click', () => {
            let checkedItems = getItemsChecked();

            if (checkedItems.length === 0) {
                alert("Bạn chưa chọn sản phẩm nào để thanh toán!")
                return;
            }

            fetch(`/cart/checkout`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(checkedItems)  // Gửi danh sách sản phẩm đã chọn
            }).then(response => response.json())
                .then(data => {
                    if (data.success) {
                        window.location.href = data.url;
                    } else {
                        console.log(data.message)
                        alert(data.message);
                    }
                }).catch(error => console.error(error))
        })
    })
</script>
</body>
</html>