<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Giỏ Hàng</title>
    <style th:replace="~{/user/common/head_tag}"></style>
</head>
<body>
<div th:replace="~{/user/common/content_first}"></div>
<div class="container" style="margin-top: 70px">

    <!-- Single Page Header start -->
    <!--    <div class="container-fluid page-header py-5">-->
    <!--        <h1 class="text-center text-white display-6">Giỏ Hàng Của Bạn</h1>-->
    <!--        <ol class="breadcrumb justify-content-center mb-0">-->
    <!--            <li class="breadcrumb-item"><a th:href="@{/home/index}">Trang chủ</a></li>-->
    <!--            <li class="breadcrumb-item active text-white">Giỏ Hàng Của Bạn</li>-->
    <!--        </ol>-->
    <!--    </div>-->
    <!-- Single Page Header End -->
    <!-- Cart Page Start -->


    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="table-responsive">
                <!--            Thông báo thành công hay lỗi -->
                <div th:if="${message}" class="alert alert-success" role="alert">
                    <span th:text="${message}"></span>
                </div>
                <div th:if="${error}" class="alert alert-danger" role="alert">
                    <span th:text="${error}"></span>
                </div>
                <!--            Thông báo thành công hay lỗi -->
                <h3>Giỏ Hàng Của Bạn</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Chọn</th>
                        <th scope="col">Sản Phẩm</th>
                        <th scope="col">Tên</th>
                        <th scope="col">Giá</th>
                        <th scope="col">Số Lượng</th>
                        <th scope="col">Thành Tiền</th>
                        <th scope="col">Xử Lý</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="item: ${cartDetail}">
                        <tr>
                            <td>
                                <input type="checkbox"
                                       th:attr="name=${'checkedItems[' + item.id + ']'}"
                                       th:checked="${#lists.contains(checkedItems, item.id)}">
<!--                                       name="selectedItems" th:value="${item.id}"-->
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img th:src="@{${s3BucketUrl} + ${item.image}}" class="img-fluid me-5"
                                         style="width: 160px; object-fit: cover" alt="">
                                </div>
                            </td>
                            <td>
                                <p class="mb-0 mt-4" th:text="${item.name}"></p>
                            </td>
                            <td>
                                <p class="mb-0 mt-4"
                                   th:text="${#numbers.formatDecimal(item.price, 1, 'COMMA', 0, 'POINT')}"></p>
                            </td>
                            <td>
                                <div class="input-group quantity mt-4" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-minus rounded-circle bg-light border p-2">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control form-control-sm text-center border-0"
                                           name="quantity"
                                           th:value="${item.quantity}">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-plus rounded-circle bg-light border p-2">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <p class="mb-0 mt-4 amount-element"
                                   th:text="${#numbers.formatDecimal(item.price*item.quantity, 1, 'COMMA', 0, 'POINT')}"></p>
                            </td>
                            <td>
                                <form th:action="@{/cart/remove}" method="post">
                                    <input type="hidden" name="id" th:value="${item.id}">
                                    <button class="btn btn-md rounded-circle bg-light border mt-4"
                                            th:action="@{/cart/remove}" th:method="post">
                                        <i class="fa fa-times text-danger"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        <!-- Hiển thị comboDetails nếu không rỗng -->
                        <tr th:if="${item.comboDetails != null && item.comboDetails.size() > 0}">
                            <td colspan="6">
                                <table class="table" style="margin-left: 650px; width: 550px">
                                    <tr th:each="detail : ${item.comboDetails}">
                                        <td><img th:src="@{${s3BucketUrl} + ${detail.product.image}}" alt=""
                                                 style="height: 50px"></td>
                                        <td th:text="${detail.product.productName}"></td>
                                        <td th:text="${detail.quantity}"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr th:if="${item.comboDetails == null}">

                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
            <div class="row g-4 justify-content-end">
                <div class="col-8"></div>
                <div class="col-sm-8 col-md-7 col-lg-6 col-xl-4">
                    <div class="bg-light rounded">
                        <div class="p-4">
                            <h1 class="display-6 mb-4">Giỏ Hàng: <span class="fw-normal">Tổng</span></h1>
                            <div class="d-flex justify-content-between mb-4">
                                <h5 class="mb-0 me-4">Tổng tiền sản phẩm:</h5>
<!--                                total-amount-->
                                <p class="mb-0 total-amount"
                                   th:text="${#numbers.formatDecimal(amount, 1, 'COMMA', 0, 'POINT')} + ' (VNĐ)'"></p>
                            </div>
                            <div class="d-flex justify-content-between">
<!--                                Shipping-cost-->
                                <h5 class="mb-0 me-4 ">Phí Vận Chuyển</h5>
                                <div class="">
                                    <p class="mb-0 shipping-cost">0 (VNĐ)</p>
                                </div>
                            </div>
                            <!--                            <p class="mb-0 text-end">Shipping to Ukraine.</p>-->
                        </div>
                        <div class="py-4 mb-4 border-top border-bottom d-flex justify-content-between">
                            <h5 class="mb-0 ps-4 me-4">Tổng Thanh Toán</h5>
<!--                            total-payment-->
                            <p class="mb-0 pe-4 total-payment"
                               th:text="${#numbers.formatDecimal(amount, 1, 'COMMA', 0, 'POINT')} + ' (VNĐ)'"></p>
                        </div>
                        <button class="btn border-secondary rounded-pill px-4 py-3 text-primary text-uppercase mb-4 ms-4"
                                type="button">Thanh Toán
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart Page End -->

</div>
<div th:replace="~{/user/common/content_footer}"></div>
<script>
    document.querySelectorAll('.btn-minus, .btn-plus').forEach(button => {
        button.addEventListener('click', function () {
            const quantityInput = this.closest('.input-group').querySelector('input');
            // const quantity = this.classList.contains('btn-plus') ? parseInt(quantityInput.value) + 1 : parseInt(quantityInput.value) - 1;
            const quantity = quantityInput.value;
            //todo: xử lý lấy được cartId và gửi lên server

            const form = this.closest('tr').querySelector('form');
            const cartId = form.querySelector('input[name="id"]').value;

            fetch('/cart/update', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({id: cartId, quantity: quantity})
            })
                .then(response => {
                    console.log(response)
                    return response.json()
                })
                .then(data => {
                    if (data.success) {
                        quantityInput.value = quantity;
                        console.log(data)
                        // Update amount
                        document.querySelector('.amount-element').innerText = data.amount.toLocaleString('en-US');

                        // Update total price
                        document.querySelector('.total-amount').innerText = new Intl.NumberFormat('en-US',{
                            style:'decimal',
                            minimumFractionDigits: 0,
                        }).format(data.newTotal) + ' (VNĐ)';

                        const shippingCostElement = document.querySelector('.shipping-cost')
                        let shippingCostText = shippingCostElement.innerText.replace(' (VNĐ)','').trim()
                        let shippingCostValue = parseInt(shippingCostText.replace(/\./g, ''));

                        const totalPaymentElement = document.querySelector('.total-payment')
                        let totalPaymentValue = data.newTotal + shippingCostValue;

                        totalPaymentElement.innerText = new Intl.NumberFormat('en-US',{
                            style:'decimal',
                            minimumFractionDigits: 0,
                        }).format(totalPaymentValue) + ' (VNĐ)';
                    } else {
                        alert('Đã có lỗi xảy ra!')
                    }
                })
        })
    })
</script>
</body>
</html>